body {
  font-family: Arial, Helvetica, sans-serif;
  background: #000839;
  background: -webkit-gradient(linear, left top, left bottom, from(#000839), to(#005082));
  background: linear-gradient(to bottom, #000839 0%, #005082 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000839', endColorstr='#005082',GradientType=0 );
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 1920px) and (min-width: 992px) {
  section {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 443px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  section .header {
    text-align: center;
    font-size: 96px;
    color: #ffa41b;
    text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
  }
  section .search {
    text-align: center;
  }
  section .txt_search {
    width: 536px;
    height: 57px;
    color: #ffa41b;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 35px;
  }
  section button {
    width: 231px;
    height: 43px;
    top: 15px;
    border: 1px solid #ffffff;
    background-color: #ffa41b;
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    margin-top: 15px;
  }
  footer {
    position: relative;
    width: 812px;
    height: 86px;
    top: 100px;
    font-size: 32px;
    color: #ffffff;
    text-align: center;
  }
}

main {
  padding: 30px 70px;
}

main header {
  text-align: left;
  font-size: 51px;
  color: #ffa41b;
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
  margin-bottom: 40px;
}

main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 51px;
  color: #ffa41b;
  width: 100%;
}

main article .nav-1 {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: gray;
  width: 50%;
}

main article .nav-1 div {
  height: 800px;
}

main article .nav-2 {
  background-color: transparent;
  width: 50%;
}

main article .nav-2 .filter {
  display: block;
  background-color: transparent;
  margin: 40px 0px 40px 120px;
  padding: 0px;
  text-align: right;
  font-weight: bold;
  font-size: 32px;
  color: #00a8cc;
}

main article .nav-2 .filter button {
  color: #00a8cc;
  border: none;
}

main article .nav-2 .list {
  display: block;
  background-color: #ffffff;
  padding: 20px 40px;
  margin: 40px 0px 40px 120px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main article .nav-2 .list:hover {
  opacity: 0.5;
}

main article .nav-2 .list table {
  font-size: 31px;
  color: #005082;
  font-weight: bold;
  width: 100%;
}

main article .nav-2 .list table .name {
  font-size: 32px;
}

main article .nav-2 .list table td {
  font-size: 24px;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  section {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 443px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  section header {
    text-align: center;
    font-size: 72px;
    color: #ffa41b;
    text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
  }
  section .search {
    text-align: center;
  }
  section .txt_search {
    width: 406px;
    height: 37px;
    color: #ffa41b;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 35px;
  }
  section button {
    width: 181px;
    height: 43px;
    top: 15px;
    border: 1px solid #ffffff;
    background-color: #ffa41b;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
  }
  footer {
    position: relative;
    width: 712px;
    height: 86px;
    top: 100px;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  section {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 443px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  section header {
    text-align: center;
    font-size: 56px;
    color: #ffa41b;
    text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
  }
  section .search {
    text-align: center;
  }
  section .txt_search {
    width: 336px;
    height: 37px;
    color: #ffa41b;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 35px;
  }
  section button {
    width: 151px;
    height: 33px;
    top: 15px;
    border: 1px solid #ffffff;
    background-color: #ffa41b;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
  }
  footer {
    position: relative;
    width: 352px;
    height: 86px;
    top: 100px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
  }
}
/*# sourceMappingURL=index.css.map */